.container{
    margin-top: 100px;
}
.newarrival{
    background: green;
    width: 50px;
    color:white ;
    font-size: 12px;
    font-weight: bold;
}
.col-md-7 h2{
    color: #555;
}
.col-md-7 i{
    color:rgb(94, 76, 66);
}
.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
input{
    border: 1px solid #ccc;
    height: 33px;
    text-align: center;
    width: 30px;
}
.cart{
    background: #ffffff;
    color:#000000;
    font-size: 15px;
    margin-left: 20px;
    border: 1px solid black;
}
.cart:hover{
    background: green;
    color: white;  
}
.stock{
    color: green;
}
label{
    font-weight: bold;
}
.newarrival{
    margin-top:100px ;
}